#tt_sm {
	padding: 16px 16px 50px; width: 222px; text-align: center; color: rgb(0, 0, 0); line-height: 18px; font-size: 14px; margin-top: 10px; margin-left: -119px; position: relative; z-index: 1000000; opacity: 1; box-shadow: 3px 3px 4px rgba(0,0,0,0.5); background-color: rgb(255, 255, 255);
}
.tt_sm_bottom::after {
	border-width: 10px 10px 0px; border-style: solid; border-color: rgb(251, 251, 251) transparent transparent; margin: 0px auto; border-image: none; left: 0px; width: 0px; height: 0px; right: 0px; bottom: -10px; position: absolute; content: "";
}
.tt_sm_top::after {
	border-width: 10px; border-style: solid; border-color: transparent transparent rgb(251, 251, 251); margin: 0px auto; left: 0px; top: -20px; width: 0px; height: 0px; right: 0px; position: absolute; content: "";
}
.tt_sm_right::after {
	border-width: 10px; border-style: solid; border-color: transparent transparent transparent rgb(251, 251, 251); margin: 0px auto; left: 222px; top: 40px; width: 0px; height: 0px; right: 0px; position: absolute; content: "";
}
.tt_sm_left::after {
	border-width: 10px; border-style: solid; border-color: transparent rgb(251, 251, 251) transparent transparent; margin: 0px auto; left: -242px; top: 40px; width: 0px; height: 0px; right: 0px; position: absolute; content: "";
}
#tt_name_sm {
	padding: 0px 16px 4px; text-align: center; color: rgb(179, 27, 27); text-transform: uppercase; line-height: 1; letter-spacing: 1px; font-size: 13px; font-style: normal; font-weight: 700; margin-bottom: 0px;
}
a.tip-link {
	padding: 8px; left: 0px; width: 222px; bottom: 0px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid; display: block; position: absolute; background-color: rgb(251, 251, 251);
}
#tt_custom_sm {
	margin: 0px; padding: 0px; clear: both; float: left;
}
#xmark_sm {
	margin: 0px; float: right; display: none; cursor: pointer;
}
