@media print
{
#acadCalNA {
	display: none;
}
.cu-main {
	padding-top: 15px;
}
.print-logo {
	width: 100%; display: block;
}
.print-logo img {
	float: right;
}
nav#cu-nav {
	display: none;
}
#cu-hdr {
	display: none;
}
.sticky-wrapper {
	display: none;
}
.cu-sidebar {
	display: none;
}
.tertiary-menu {
	display: none;
}
#main {
	padding-top: 0px;
}
.screenDate {
	width: 0px !important; display: none !important;
}
.printDate {
	display: table-cell !important;
}
.page-title {
	width: 100%; font-size: 36px;
}
#cu-ftr {
	display: none;
}
table.cu-table {
	width: 100%; margin-bottom: 25px;
}
table.cu-table th {
	padding: 5px 14px;
}
table.cu-table td {
	padding: 0.4em 2em; font-size: 12px; display: table-cell;
}
.academic-calendar td {
	width: 37%;
}
body.academics .page-block p {
	font-size: 12px; margin-bottom: 1em;
}
.cu-print {
	display: none;
}
a {
	color: rgb(47, 47, 47);
}
a:visited {
	color: rgb(47, 47, 47);
}
}
